html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mosk-Normal";
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
@font-face {
  font-family: "Mosk-Bold";
  src: url("../font/Mosk-Bold.ttf");
}
@font-face {
  font-family: "Mosk-Extra-Bold";
  src: url("../font/Mosk-Extra-Bold.ttf");
}
@font-face {
  font-family: "Mosk-Extra-Light";
  src: url("../font/Mosk-Extra-Light.ttf");
}
@font-face {
  font-family: "Mosk-Light";
  src: url("../font/Mosk-Light.ttf");
}
@font-face {
  font-family: "Mosk-Medium";
  src: url("../font/Mosk-Medium.ttf");
}
@font-face {
  font-family: "Mosk-Normal";
  src: url("../font/Mosk-Normal.ttf");
}
@font-face {
  font-family: "Mosk-Semi-Bold";
  src: url("../font/Mosk-Semi-Bold.ttf");
}
@font-face {
  font-family: "Mosk-Thin";
  src: url("../font/Mosk-Thin.ttf");
}
@font-face {
  font-family: "Mosk-Ultra-Bold";
  src: url("../font/Mosk-Ultra-Bold.ttf");
}
@font-face {
  font-family: "Jenthill";
  src: url("../font/Jenthill.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* // P-D-color = primary dark theme color
  // P-D-color = primary light theme color */

:root {
  --P-D-color: #404040;
  --P-L-color: #fafafa;
  --color-mint: #70dcbe;
}
.container {
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
}
h1 {
  font-size: 60px;
}
.content_section {
  z-index: 9;
  position: relative;
}

/* Home banner */
.bg {
  position: relative;
}
.bg.dark {
  background: linear-gradient(90deg, #29272a 30%, #773e69 30%);
}
.bg.light {
  background: linear-gradient(90deg, #f6f4f6 30%, #70dcbe 30%);
}
.transparent {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  cursor: pointer;
}
.transparent.dark {
  -webkit-text-stroke-color: #fafafa;
}
.transparent.dark:hover {
  -webkit-text-fill-color: unset;
}
.transparent.light {
  -webkit-text-stroke-color: #404040;
}
.transparent.light:hover {
  -webkit-text-fill-color: unset;
}

/* svg animation  */
.beam {
  animation: lightAnimate 0.8s 0.2s forwards;
}
@keyframes lightAnimate {
  20% {
    opacity: 0.1;
  }
  23% {
    opacity: 0;
  }
  26% {
    opacity: 0.15;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 0.2;
  }
  38% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.4;
  }
}
